<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="zh-HK" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Basic Meta Tag -->
    <meta name="title" content="澳門彩票有限公司 Macauslot -- 亞洲首創合法足球籃球NBA博彩" />
    <meta name="Description" content="本公司為亞洲首間合法之足球及籃球博彩彩票專營公司，業務主要是為本地及海外客戶提供足球及籃球博彩服務。" />
    <meta name="keywords" content="澳門官網, 足球籃球博彩, 現場比數, 澳門博彩, 體育彩票, 心水推介, 即時賠率指數, 球員動態, 賽事結果, 球隊陣容往績, 統計數據, 足球籃球賽程" />
    <meta name="thumbnail" content="" />
    <meta name="author" content="澳門彩票有限公司" />
    <meta name="copyright" content="&copy; 澳門彩票有限公司 All Rights Reserved." />
    <!-- Favicon -->
    <!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="" /><![endif]-->
    <link rel="icon" type="image/x-icon" href="" />

    <title>澳門彩票有限公司 Macauslot -- 亞洲首創合法足球籃球NBA博彩</title>
</head>
<body>
    <%= htmlWebpackPlugin.options.bodyContent %>
    <script>
        //统一控制内层iframe高度
        window.onload= function () {
            var CLIENTHEIGHT = parent.document.getElementById('main_container').clientHeight;
            parent.document.getElementById('main_page').setAttribute('height', CLIENTHEIGHT);
        }
    </script>
</body>
</html>